body {
    margin: 0;
    padding: 0;
    
    background-color: black;
    background-image: radial-gradient(#222222, #000);
}

#alignShelf {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alignFloors {
    position: absolute;
    aspect-ratio: 106/140;
    max-width: 100vw;
    height: 95vh;

    background-color: #80008060;
    overflow: hidden;
}

#spacer {
    width: 5vw;
}

.pixel {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

a {
    height: 10vh;
}

a:hover {
    margin-bottom: 1%;
}

a .left:hover {
    rotate: -6deg;
}

a .right:hover {
    rotate: 6deg;
}

.object {
    height: 10vh;
    width: auto;
    filter: drop-shadow(0 0 20px #ffffff81);
}

#shelf {
    position: absolute;
    aspect-ratio: 106/140;
    max-width: 100vw;
    height: 95vh;
    background-color: aliceblue;
}

@media only screen and (max-device-width : 660px){
    #shelf {
        aspect-ratio: 140/106;
        width: 100vw;
        height: 132vw;
    }

    .one {
        top: 15vh !important;
    }
}

.floor {
    background-color: red;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}

.one {
    margin-top: 11%;
    background-color: #0000ff84;
}

.two {
    margin-top: 7.65%;
    background-color: #ffff0084;
}

.three {
    margin-top: 8.35%;
    background-color: #ffa50084;
}

.four {
    margin-top: 5.2%;
    height: 18vh;
    background-color: #00800084;
}

.hidden {
    /*background-color: #ffffff00 !important;*/
}