body {
    padding: none;
    margin: none;
}

center {
    padding: none;
    margin: none;
    height: 100vh;
    border: 1px solid red;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}