body {
    margin: 0;
    padding: 0;
    
    background-color: black;
    background-image: radial-gradient(#222222, #000);
}

#alignShelf {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spacer {
    width: 5vw;
}

.pixel {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

a {
    height: 10vh;
}

a:hover {
    margin-bottom: 1%;
}

a .left:hover {
    rotate: -6deg;
}

a .right:hover {
    rotate: 6deg;
}

.object {
    height: 10vh;
    width: auto;
    filter: drop-shadow(0 0 20px #ffffff81);
}

#shelf {
    aspect-ratio: 106/140;
    max-width: 100vw;
    height: 95vh;
}

@media only screen and (max-device-width : 660px){
    #shelf {
        aspect-ratio: 140/106;
        width: 100vw;
        height: 132vw;
    }

    .one {
        top: 15vh !important;
    }
}

.floor {
    background-color: red;
    height: 15vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}

.one {
    top: 10.5vh;
    background-color: blue;
}

.two {
    top: 30.8vh;
    background-color: yellow;
}

.three {
    top: 51.8vh;
    background-color: orange;
}

.four {
    top: 71.5vh;
    height: 18vh;
    background-color: green;
}

.hidden {
    background-color: #ffffff00 !important;
}